@font-face {
    font-family: 'AlmaghribiWarshQuran';
    src: url('AlmaghribiWarsh-Quran.woff2') format('woff2'),
        url('AlmaghribiWarsh-Quran.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

